body {
    font-family: josefin, josefin-sans, sans-serif;
}

/* lulo */
@font-face {
    font-family: 'Lulo';
    font-style: normal;
    font-weight: 500;
    src: url(./lulo/lulo.woff2) format('woff2');
}

/* avenir */
@font-face {
    font-family: 'Avenir';
    font-style: normal;
    src: url(./avenir/avenir.woff2) format('woff2');
}