:root {
    --thm-color-0: #ccc;
    --thm-color-1: #eee;
    --thm-color-PL: #74faff;
    --thm-color-P: #57bbbf;
    --thm-color-PD: #40898c;
}

#root {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    background-color: #d4dfdf;
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: stretch;
}

#welcome-photo {
    margin: 0;
    width: 100vw;
    height: 60vh;
    background-size: cover;
    background-position: center center;
    padding: 0 1em;
    padding-top: 7vh;
    font-size: 7vw;
    text-align: center;
    color: var(--thm-color-PD);
    font-family: Courgette;
}

@media (min-width: 600px) {
    #welcome-photo {
        font-size: 42px;
    }
}

* {
    box-sizing: border-box;
}

main {
    flex: 1 1 auto;
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: center;
    padding: 0;
    margin: 0;
}

main>* {
    flex: 0 0 auto;
}

div.logo,
div.trombine {
    flex: 0 0 auto;
    content: ".";
    font-size: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    width: 6rem;
    height: 6rem;
    border: none;
    margin: 0;
}

div.logo {
    background-image: url(./logo.svg);
}

div.trombine {
    background-image: url(./trombine.webp);
    border-radius: 50%;
}

header {
    position: relative;
    background: var(--thm-color-PD);
    margin: 0;
    padding: 0 0.5rem;
    color: #fffe;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    z-index: 2;
    box-shadow: 0 8px 16px #0007;
}

header>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    text-align: center;
    width: 100vw;
    max-width: 1200px;
}

header p {
    white-space: nowrap;
}

nav {
    flex: 0 0 auto;
    background: var(--thm-color-PD);
    color: #fffe;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 16px #0007;
    z-index: 1;
    padding: 0 1rem;
}

nav>div.logo {
    width: 2rem;
    height: 2rem;
}

h1,
h2 {
    font-weight: 600;
}

section {
    background: var(--thm-color-1);
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
    box-shadow: 0 1px 2px #0007;
    width: calc(100% - 2rem);
    max-width: 1400px;
}

ul.section>li {
    position: relative;
    list-style: none;
    cursor: pointer;
    margin: 2rem 0 1rem 0;
}

ul.section>li>div {
    position: relative;
    max-height: 3.5rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

ul.section>li.expand>div {
    max-height: none;
}

ul.section>li>div::after {
    position: absolute;
    left: 0;
    top: 1rem;
    right: 0;
    bottom: 0;
    content: ".";
    font-size: 0;
    background-image: linear-gradient(to top, var(--thm-color-1), transparent);
}

ul.section>li.expand>div::after {
    background: none;
}

ul.section>li.expand>h2::before {
    transform: rotate(90deg);
}

ul.section>li.expand button {
    display: none;
}

@media (min-width: 700px) {
    section>ul.section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
}

@media (min-width: 1000px) {
    section>ul.section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

h1 {
    font-size: 1.5rem;
    background: linear-gradient(to right, var(--thm-color-PD), var(--thm-color-PL));
    text-align: center;
    color: #000d;
    margin: -1rem -1rem 1rem -1rem;
    border-radius: .5rem .5rem 0 0;
    line-height: 2;
}

h2 {
    font-size: 1.25rem;
    margin: 0;
    padding-left: 1rem;
}

h2::before {
    content: "▸";
    position: absolute;
    margin: -.25rem -1rem;
    transition: transform .3s;
}

body {
    background-color: var(--thm-color-0);
    margin: 0;
    padding: 0;
}

button {
    font-weight: 500;
    font-variant: small-caps;
    width: 100%;
    border: none;
    text-align: right;
    background: none;
    margin: 0;
    margin-top: -1rem;
    padding: 0 2rem;
    color: var(--thm-color-PD);
}

img.office {
    width: 100vw;
    margin: 0;
}

a[href],
a[href]:visited {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    line-height: 2em;
    font-weight: 500;
    font-variant: small-caps;
    box-shadow: 0 2px 4px #0007;
    border-radius: .25rem;
    margin: 1rem 0;
    color: var(--thm-color-PD);
    text-decoration: none;
}

a[href]>* {
    margin: 0 .5rem;
}

section.contact {
    overflow: hidden;
}

section.contact>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

section.contact>div>div {
    flex: 0 0 auto;
}

section.contact>div>.big-trombine {
    flex: 0 1 auto;
    margin: 0 0 -1.5rem 0;
}

@media (max-width: 680px) {
    section.contact>div>.big-trombine {
        width: 192px;
    }
}

a.invisible,
a.invisible:visited {
    text-decoration: none;
    border: none;
    color: #000;
    background: none;
    border-radius: 0;
    box-shadow: none;
}

footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    height: 4.5rem;
    background-color: var(--thm-color-PD);
    z-index: 9;
    box-shadow: 0 -4px 8px #0007;
    margin: 0;
    padding: 0;
}

footer>div {
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

a[href].link,
a[href].link:visited {
    font-size: 80%;
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: column;
    font-variant: small-caps;
    text-decoration: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0 .25rem;
    margin: 2px;
    cursor: pointer;
    color: var(--thm-color-PD);
    background: #fffe;
    border-radius: .5em;
    box-shadow: 0 2px 4px #0008;
    min-width: 6rem;
    text-align: center;
    transition: all .9s;
}

a[href].link.in,
a[href].link.in:visited {
    color: #fff;
    background: none;
    text-decoration-color: transparent;
    pointer-events: none;
    cursor: default;
    box-shadow: none;
}

div.spc {
    content: ".";
    color: transparent;
    height: .5rem;
    width: 100%;
    margin: 1rem;
}

@media (max-width: 1000px) {
    nav>p {
        display: none;
    }
}

@media (max-width: 680px) {
    nav>p {
        display: block;
    }

    #root>nav>a.link {
        display: none;
        color: red;
    }
}

@media (min-width: 681px) {
    footer {
        display: none;
    }
}